@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --blue-color: #1260a6;
  --orange-color: #F2A517;
}

html,
body {
  padding: 0;
  margin: 0;
  font-family: 'Poppins', sans-serif;
}

* {
  box-sizing: border-box;
}

@layer components {
  .home__items-service {
    @apply bg-white z-[99] shadow-lg rounded-md h-full w-[80%] md:h-[14rem] md:w-[14rem] flex flex-col gap-6 items-center justify-start p-9
  }
}
